<%- include("partials/header") -%>
<% Posts.forEach((post) => {%>
    <h2><%=post.title %></h2>
    <p class="wrap"><%=post.content+"..." %></p><a href="/posts/<%= post._id %>">Learn more</a>
    <%})%>

 



<%- include("partials/footer") -%>



